@import "tailwindcss";
@import "@fontsource-variable/eb-garamond";
@import '@fontsource-variable/inter';
@plugin '@tailwindcss/typography';

@source "../components/";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-garamond: 'EB Garamond Variable', serif;
  --font-inter: 'Inter Variable', sans-serif;

  --color-accent-50: var(--color-emerald-50);
  --color-accent-100: var(--color-emerald-100);
  --color-accent-200: var(--color-emerald-200);
  --color-accent-300: var(--color-emerald-300);
  --color-accent-400: var(--color-emerald-400);
  --color-accent-500: var(--color-emerald-500);
  --color-accent-600: var(--color-emerald-600);
  --color-accent-700: var(--color-emerald-700);
  --color-accent-800: var(--color-emerald-800);
  --color-accent-900: var(--color-emerald-900);
  --color-accent-950: var(--color-emerald-950);
}

@layer components {
  .mst {
    @variant motion-safe {
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
      transition-timing-function: var(--default-transition-timing-function); /* cubic-bezier(0.4, 0, 0.2, 1) */
      transition-duration: 100ms;
    }
  }
}