@import "tailwindcss";
@import "@fontsource-variable/eb-garamond";
@import "@fontsource-variable/inter";
@plugin '@tailwindcss/typography';

@source "../components/";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-garamond: "EB Garamond Variable", serif;
	--font-inter: "Inter Variable", sans-serif;

	--color-accent-50: var(--color-emerald-50);
	--color-accent-100: var(--color-emerald-100);
	--color-accent-200: var(--color-emerald-200);
	--color-accent-300: var(--color-emerald-300);
	--color-accent-400: var(--color-emerald-400);
	--color-accent-500: var(--color-emerald-500);
	--color-accent-600: var(--color-emerald-600);
	--color-accent-700: var(--color-emerald-700);
	--color-accent-800: var(--color-emerald-800);
	--color-accent-900: var(--color-emerald-900);
	--color-accent-950: var(--color-emerald-950);

	--color-positive-50: var(--color-emerald-50);
	--color-positive-100: var(--color-emerald-100);
	--color-positive-200: var(--color-emerald-200);
	--color-positive-300: var(--color-emerald-300);
	--color-positive-400: var(--color-emerald-400);
	--color-positive-500: var(--color-emerald-500);
	--color-positive-600: var(--color-emerald-600);
	--color-positive-700: var(--color-emerald-700);
	--color-positive-800: var(--color-emerald-800);
	--color-positive-900: var(--color-emerald-900);
	--color-positive-950: var(--color-emerald-950);

	--color-warning-50: var(--color-amber-50);
	--color-warning-100: var(--color-amber-100);
	--color-warning-200: var(--color-amber-200);
	--color-warning-300: var(--color-amber-300);
	--color-warning-400: var(--color-amber-400);
	--color-warning-500: var(--color-amber-500);
	--color-warning-600: var(--color-amber-600);
	--color-warning-700: var(--color-amber-700);
	--color-warning-800: var(--color-amber-800);
	--color-warning-900: var(--color-amber-900);
	--color-warning-950: var(--color-amber-950);

	--color-negative-50: var(--color-red-50);
	--color-negative-100: var(--color-red-100);
	--color-negative-200: var(--color-red-200);
	--color-negative-300: var(--color-red-300);
	--color-negative-400: var(--color-red-400);
	--color-negative-500: var(--color-red-500);
	--color-negative-600: var(--color-red-600);
	--color-negative-700: var(--color-red-700);
	--color-negative-800: var(--color-red-800);
	--color-negative-900: var(--color-red-900);
	--color-negative-950: var(--color-red-950);
}

@layer components {
	/* Honeypot */
	.website {
		display: none;
	}

	.all-small-caps {
		font-variant-caps: all-small-caps;
	}

	.mst {
		@variant motion-safe {
			transition-property:
				color,
				background-color,
				border-color,
				text-decoration-color,
				fill,
				stroke,
				--tw-gradient-from,
				--tw-gradient-via,
				--tw-gradient-to,
				opacity,
				box-shadow,
				transform,
				translate,
				scale,
				rotate,
				filter,
				-webkit-backdrop-filter,
				backdrop-filter;
			transition-timing-function: var(
				--default-transition-timing-function
			); /* cubic-bezier(0.4, 0, 0.2, 1) */
			transition-duration: 100ms;
		}
	}
}
