---
import { Image } from "astro:assets";
import { ThemeSelect } from "@/components/themes/ThemeSelect";
import Rootring from "../rootring/Rootring.astro";
import RootringLinks from "../rootring/RootringLinks.astro";
import RootringWordmark from "../rootring/RootringWordmark.astro";
import RootringLink from "../rootring/RootringLink.astro";
import Brick from "@/assets/images/the-dolent-chronicle-brick.jpg";

const today = new Date();
---

<footer class="border-t border-zinc-400 dark:border-zinc-800 bg-zinc-200 dark:bg-black">
	<div class="max-w-[70rem] mx-auto py-8 px-8">
		<div class="flex flex-wrap gap-2 lg:gap-4 items-center justify-between">
			<Rootring>
				<RootringWordmark />
				<span>|</span>
				<RootringLinks>
					<RootringLink href="https://rootr.ing/prev?site=https://thedolentchronicle.com">Prev</RootringLink>
					<RootringLink href="https://rootr.ing/random">Random</RootringLink>
					<RootringLink href="https://rootr.ing/directory">Directory</RootringLink>
					<RootringLink href="https://rootr.ing/next?site=https://thedolentchronicle.com">Next</RootringLink>
				</RootringLinks>
			</Rootring>
			<div class="flex gap-2 lg:gap-4 items-center">
				<Image src={Brick} alt="The Dolent Chronicle's web brick" title="The Dolent Chronicle's web brick" class="" />
				<ThemeSelect client:only="react" />
			</div>
		</div>
		<div class="pt-2 text-xs sm:text-sm truncate">&copy; {today.getFullYear()} The Dolent Chronicle. All rights reserved.</div>
	</div>
</footer>
