---
import { SITE_TITLE } from "@/constants";
---

<header
	class="flex h-12 px-4 items-center justify-center border-b border-zinc-500 dark:border-zinc-800 bg-zinc-300 dark:bg-zinc-950 text-zinc-950 dark:text-zinc-300"
>
	<h2 class="font-garamond text-xl font-medium tracking-tight">
		<a href="/">{SITE_TITLE}</a>
	</h2>
</header>
