---
import { ThemeSelect } from "@/components/themes/ThemeSelect";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Prose from "@/components/markdown/Prose.astro";
import { PageHeader } from "@/components/app/PageHeader";
import { PageDescription } from "@/components/app/PageDescription";
---

<BaseLayout>
	<section class="max-w-[64rem] mx-auto pt-32 pb-16">
		<Prose>
			<div class="flex gap-4 items-end justify-between">
				<PageHeader>404</PageHeader>
				<ThemeSelect client:load />
			</div>
			<PageDescription>Page not found. Return to home.</PageDescription>
			<hr />
			<a
				href="/"
				title="Go to home"
				class="group not-prose flex w-full h-96 items-center justify-center cursor-pointer rounded border border-zinc-400 dark:border-zinc-800 bg-white dark:bg-black"
			>
				<h1
					class="font-garamond text-lg md:text-4xl uppercase tracking-[1rem] text-zinc-600 dark:text-zinc-400 group-hover:text-zinc-900 dark:group-hover:text-zinc-100 group-hover:scale-125 lg:group-hover:scale-200 mst !duration-[1s] not:group-hover:animate-pulse"
				>
					Return
				</h1>
			</a>
		</Prose>
	</section>
</BaseLayout>
