---
import clsx from "clsx";
---

<div
	class={clsx(
		"mx-auto",
		"prose dark:prose-invert lg:prose-lg",
		"prose-headings:font-garamond prose-headings:font-normal prose-headings:text-zinc-800 dark:prose-headings:text-zinc-200",
		"prose-h1:tracking-tight",
		"prose-h4:mb-0",
		"prose-hr:border-zinc-400 dark:prose-hr:border-zinc-800",
		"prose-p:leading-normal prose-p:text-zinc-600 dark:prose-p:text-zinc-400",
		"prose-li:leading-normal prose-li:my-1 prose-li:text-zinc-600 dark:prose-li:text-zinc-400 prose-li:marker:text-zinc-600 dark:prose-li:marker:text-zinc-400"
	)}
>
	<slot />
</div>
