---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a href={href} class="text-xs sm:text-sm md:text-base leading-none hover:text-zinc-900 dark:hover:text-zinc-100 mst">
	<slot />
</a>
