---
import { ThemeSelect } from "./themes/ThemeSelect";

const today = new Date();
---

<footer class="flex gap-4 p-8 items-center justify-center border-t border-zinc-400 dark:border-zinc-800 bg-zinc-200 dark:bg-black">
	<span>&copy; {today.getFullYear()} The Dolent Chronicle. All rights reserved.</span>
	<ThemeSelect client:visible />
</footer>
