---
import BaseHead from "@/components/app/BaseHead.astro";
import Footer from "@/components/app/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/constants";

interface Props {
	title: string;
	description: string;
	image?: string | undefined;
}

const { title, description, image } = Astro.props;

const themeScript = `
  function getThemeMode() {
    const theme = localStorage.getItem('theme');

    if (!theme || theme === 'auto' || (theme !== 'dark' && theme !== 'light')) {
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
		}
      
    return theme;
  }

  const mode = getThemeMode();
  document.documentElement.className = mode;
  document.documentElement.dataset.theme = mode;
`;
---

<html lang="en">
	<head>
		<BaseHead title={title ?? SITE_TITLE} description={description ?? SITE_DESCRIPTION} image={image} />
		<script set:html={themeScript} />

		<!-- Fixes Flash-Of-Unstyled-Content by requiring client-side css to load to make page visible -->
		<style is:inline>
			body {
				visibility: hidden;
				opacity: 0;
			}
		</style>
		<style is:global>
			body {
				visibility: visible;
				opacity: 1;
			}
		</style>
	</head>
	<body class="overflow-y-scroll font-inter bg-zinc-300 dark:bg-zinc-950 text-zinc-600 dark:text-zinc-400">
		<main class="w-full min-h-[100svh] px-12">
			<slot />
		</main>
		<Footer />
	</body>
</html>
